<div class="container">
  <div class="row">
    <div class="col-sm-12 mt-4">
      <h2><%= @activity.name %> コメント欄への連絡</h2>
    </div>
    <div class="col-sm-12 mt-4">
      <%= link_to activities_modify_path(@activity) do %>
        <button type="button" class="btn btn-dark">サークル一覧ページに戻る</button>
      <% end %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-sm-12">
      <h2>コメント送信</h2>
    </div>
  </div>

  <%= form_with model: @comment, url: comments_path(activity_id: @activity.id), local: true do |f| %>
    <div class="row">
      <%= render 'layouts/error_messages', model: f.object %>
    </div>
    <div class="row mt-3 justify-content-center mb-5">
      <div class="col-sm-8 text-center">
        <%= f.text_area :sentence, placeholder: "コメントをここに入力", size: "80x10" %>
      </div>
      <div class="col-sm-12 mt-1 mb-3 text-center">
        <%= f.submit "連絡する", class: "btn-sm btn btn-secondary" %>
      </div>
    </div>
  <% end %>

  <% if @comments.empty? %>
    <div class="row">
      <div class="col-sm-12 mt-4">
        <p>コメントはありません</p>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-sm-12 pl-4">
        <table class="table table-inverse">
          <% @comments.each do |comment| %>
            <tr>
              <td>
                <%= comment.sentence %>
                <br>
                <% if comment.score.to_f <= -0.5 %>
                  <span class="text-danger">感情スコア<%= comment.score %></span>
                <% elsif comment.score.to_f >= 0.5 %>
                  <span class="text-success">感情スコア<%= comment.score %></span>
                <% else %>
                  <span>感情スコア<%= comment.score %></span>
                <% end %>
                <%= link_to "削除", comment_path(comment), method: :delete, class: "link-danger" %>
              </td>
              <td class="align-middle">
                <% if comment.user.authority == "管理者" %>
                  <button type="button" class="btn btn-outline-dark btn-sm", disabled>管理者</button>
                <% else %>
                  <%= comment.user.name %>
                <% end %>
              </td>
              <td class="align-middle"><%= comment.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-12">
      <p><%= paginate @comments %></p>
    </div>
  </div>
</div>
