<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <p><%= theme.month %>月のテーマは</p>
    </div>
    <div class="col-sm-3">
      <%= theme.theme1 %>
    </div>
    <div class="col-sm-3">
      <%= theme.theme2 %>
    </div>
    <div class="col-sm-3">
      <%= theme.theme3 %>
    </div>
  </div>

  <div class="row">
    <div class="col-10 mt-3 mb-3 theme-window">
      <%= attachment_image_tag theme, :theme_image, format: 'jpeg', fallback: "no_image.jpg", size: "800x250" %>
      <p><%= theme.sentence %></p>
    </div>
  </div>
</div>
