<%#= render 'themes/theme_bar', theme: @theme %>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h2><%= @activity.name %></h2>
    </div>
  </div>
  <%= form_with model: @work, url: work_path(@work, order_sort: 2), method: :patch, local: true do |f| %>
    <div class="row">
      <div class="col-sm-6 ml-4">
        <%= attachment_image_tag @work, :work_image, fallback: "no_image.jpg", id: "img_preview", style: "height: 200px; width:200px;" %><br>
        <%= f.attachment_field :work_image %>
        <h2><%= f.text_field :title %></h2>
        <br>
        <%= @work.created_at %>
      </div>
      <div class="col-sm-6">
        <h3>2creator</h3>
        <% @users.each do |user| %>
          <%= f.check_box :creator1, {multiple: true}, user.id, nil %><%= user.name %>
        <% end %>
        <br>
        <h3>Special thanks</h3>
        <% @users.each do |user| %>
          <%= f.check_box :creator2, {multiple: true}, user.id, nil %><%= user.name %>
        <% end %>
        <br>
        <h3>ポイント</h3>
        <%= f.text_field :point %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <%= f.submit "更新する", :class=>"btn btn-secondary" %>
        <%= link_to work_path(@work), method: :delete do %>
          <button type="button" class="btn btn-danger">削除する</button>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
