<%#= render 'themes/theme_bar', theme: @theme %>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h2><%= @activity.name %></h2>
    </div>
  </div>
  <%= form_with model:@work, url:  work_path(@work), method: :patch, local: true do |f| %>
    <div class="row">
      <div class="col-sm-6 ml-4">
          <%= f.attachment_field :work_image %>
          <h2><%= f.text_field :title %></h2>
          <br>
          <%= @work.created_at %>
      </div>
      <div class="col-sm-6">
        <h3>2creator</h3>
        <%#= form.label :creators1 %>  <!--カラム名と一致している時は、ラベルを使用するならこの表記-->
        <% [@users].each do |user| %>
          <%= form.check_box :creators1, {multiple: true}, creator1, nil %><%= user.name %>
        <% end %>
        <br>
        <h3>Special thanks</h3>
        <% [@users].each do |user| %>
          <%= form.check_box :creators2, {multiple: true}, creator1, nil %><%= user.name %>
        <% end %>
        <br>
        <h3>ポイント</h3>
        <%= f.text_field :point %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <%= link_to work_path(@work), method: :patch do %>
          <button type="button" class="btn btn-secondary">更新する</button>
        <% end %>
        <%= link_to work_path(@work), method: :delete do %>
          <button type="button" class="btn btn-danger">削除する</button>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
