<div class="container">
  <%= form_with model: @work, url: works_path(activity_id: @activity.id), local: true do |f| %>
    <div class="row">
      <%= render 'layouts/error_messages', model: f.object %>
    </div>
    <div class="row">
      <div class="col-sm-8 mt-4">
        <h2><%= @activity.name %></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 ml-4">
        <%= attachment_image_tag @work, :work_image, fallback: "no_image.jpg", id: "img_preview", style: "height: 200px; width:300px;" %><br>
        <%= f.attachment_field :work_image %>
        <h2><%= f.text_field :title, placeholder: "タイトルを入力" %></h2>
      </div>
      <div class="col-sm-6 ml-4 mt-4">
        <h3>2creator</h3>
        <% @users.each do |user| %>
          <%= f.check_box :creator1, {multiple: true}, user.id, nil %><%= user.name %>
        <% end %>
        <br>
        <h3>Special thanks</h3>
        <% @users.each do |user| %>
          <%= f.check_box :creator2, {multiple: true}, user.id, nil %><%= user.name %>
        <% end %>
        <br>
        <h3>ポイント</h3>
        <%= f.text_field :point, placeholder: "一言コメント", size: "80x10" %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 mt-4 mb-4 text-center">
        <%= f.submit "create！", :class=>"btn-lg btn btn-outline-danger" %>
      </div>
    </div>
  <% end %>
</div>
