<div class="container">
  <div class="row">
    <%= render 'themes/theme_bar', theme: @theme %>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <h2><%= @activity.name %></h2>
    </div>
    <div class="col-sm-4">
      <%= link_to edit_work_path(@work) do %>
        <button type="button" class="btn btn-secondary">作品を編集する</button>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 ml-4">
      <table>
        <tr><td colspan="2"><%= attachment_image_tag @work, :work_image, format: 'jpeg', fallback: "no_image.jpg", size: "400x250" %></td></tr>
        <tr>
          <td><%= @work.title %></td>
          <td id="favorite-<%= @work.id %>"><%= render 'favorites/favorite', work: @work %></td>
        </tr>
        <tr><td clospan="2"><%= @work.created_at %></td></tr>
      </table>
    </div>
    <div class="col-sm-5">
      <h3>2creator</h3>
      <% @creator1.each do |creator| %>
        <p><%= creator.name %></p>
      <% end %>
      <% if @creator2.present? %>
        <br>
        <h3>Special thanks</h3>
        <% @creator2.each do |creator| %>
          <p><%= creator.name %></p>
        <% end %>
      <% end %>
      <br>
      <h3>ポイント</h3>
      <%= @work.point %>
    </div>
  </div>
</div>
