<div class="container">
  <div class="row">
    <div class="col-sm-12 mt-4">
      <h2><%= @user.name %> のサークル会員情報</h2>
    </div>
  </div>

  <% if @groups.nil? %>
    <div class="row justify-content-center">
      <div class="col-sm-11 ml-4">
        <p><%= @user.name %>はサークルに参加していません</p>
      </div>
    </div>
  <% else %>
    <!--user登録情報の編集フォーム-->
    <div class="row justify-content-center">
      <div class="col-sm-12">
        <table class="table table-hover table-inverse">
          <tr class="table-dark">
            <th>サークル</th>
            <th>現在のステータス</th>
            <th colspan="5"></th>
          </tr>
          <% @groups.each do |group| %>
            <%= form_with model: group, url: group_path(group), method: :patch, local: true do |f| %>
            <div class="row">
              <%= render 'layouts/error_messages', model: f.object %>
            </div>
              <tr>
                <td class="align-middle"><%= group.activity.name %></td>
                <td class="align-middle"><%= group.member_status_i18n %></td>
                <td class="align-middle">
                  <!--group_sortの値は任意で定義している-->
                  <%= radio_button_tag(:group_sort, :waiting_accept) %>
                  <%= f.label :pre_member %>
                  <%= radio_button_tag(:group_sort, :accept) %>
                  <%= f.label :member %>
                  <%= radio_button_tag(:group_sort, :leader) %>
                  <%= f.label :leader %>
                  <%= radio_button_tag(:group_sort, :senior) %>
                  <%= f.label :senior %>
                </td>
                <td class="align-middle"><%= f.submit "更新する", :class=>"btn btn-info" %></td>
                <td class="align-middle">
                  <%= link_to group_path(group), method: :delete do %>
                    <button type="button" class="btn btn-danger">メンバー登録削除</button>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </table>
      </div>
    </div>
  <% end %>

  <div class="row justify-content-center">
    <div class="col-sm-12">
      <p><%= paginate @groups %></p>
    </div>
  </div>
</div>
