<div class="container">
  <!--user登録情報の編集フォーム-->
  <%= form_with model: @user, url: user_path(current_user), method: :patch, local: true do |f| %>
    <div class="row">
      <div class="col-sm-12 mt-4">
        <h2>登録情報の編集</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 mt-4 ml-5 pl-5">
        <table>
          <tr>
            <td><%= f.label :name, "ニックネーム" %></td>
            <td><%= f.text_field :name %></td>
          </tr>
          <tr>
            <td><%= f.label :email, "メールアドレス" %></td>
            <td><%= f.text_field :email %></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center mb-4">
        <%= f.submit "更新する", class: "btn-sm btn btn-secondary" %>
        <%= link_to users_unsubscribe_path do %>
          <button type="button" class="btn-sm btn btn-danger">退会する</button>
        <% end %>
      </div>
    </div>
  <% end %>

</div>
