<div class="container">
  <div class="row">

    <!--ここから真ん中のエリア-->
    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm-8">
          <h2>おすすめサークル</h2>
        </div>
      </div>
      <div class="row justify-content-center mt-3">
        <% if @recommends.nil? %>
          <%= link_to activities_path do %>
            <button type="button" class="btn btn-info">サークルを探しにいく！</button>
          <% end %>
        <!--オススメテーブルにレコードがある場合、おすすめサークルをラスト3つ並べる（数はコントローラ参照）-->
        <% else %>
          <% @recommends.each do |recommend| %>
            <table>
              <tr><%= attachment_image_tag recommend.activities, :image, format: 'jpeg', fallback: "no_image.jpg", size: "400x250" %></tr>
              <tr><%= recommend.activities.name %></tr>
              <tr><%= recommend.activities.to_create %></tr>
            </table>
          <% end %>
        <% end %>
      </div>
      <div class="row mt-4">
        <div class="col-sm-8">
          <h2>あなたのサークル</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-11 ml-4">
          <table>
            <tr>
              <th>サークル名</th>
              <th>ステータス</th>
              <th></th>
            </tr>
            <% @groups.each do |group| %>
              <tr>
                <td><%= group.activity.name %></td>
                <td><%= group.member_status %></td>
                <td>
                  <% if group.member_status == '承認待ち' %>
                    <%= link_to group_path(group), method: :delete do %>
                      <button type="button" class="btn-sm btn btn-danger">申請取消</button>
                    <% end %>
                  <% elsif group.member_status != '承認待ち' %>
                    <%= link_to group_path(group, order_sort: 99), method: :patch do %>
                      <button type="button" class="btn-sm btn btn-secondary">卒業依頼</button>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>

    <!--ここから右サイドのエリア-->
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-6">
          <h2>登録情報</h2>
        </div>
        <div class="col-sm-6 mt-1">
          <%= link_to edit_user_path(current_user) do %>
              <button type="button" class="btn-sm btn btn-secondary">編集する</button>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-11">
          <table>
            <tr>
              <td>ニックネーム</td>
              <td><%= current_user.name %></td>
            </tr>
            <tr>
              <td>メールアドレス</td>
              <td><%= current_user.email %></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-sm-11">
          <!--ordersortでパラメーター渡す-->
          <%= link_to works_path do %>
              <button type="button" class="btn btn-info">あなたの作品をみる</button>
          <% end %>
        </div>
      </div>
      <!--<div class="row">-->
      <!--  <div class="col-sm-11">-->
      <!--    <%#= link_to contact_path do %>-->
      <!--        <button type="button" class="btn btn-secondary">運営へのお問い合わせ</button>-->
      <!--    <%# end %>-->
      <!--  </div>-->
      <!--</div>-->
      <!--<div class="row">-->
      <!--  <div class="col-sm-11">-->
      <!--    <%#= link_to contact_path do %>-->
      <!--        <button type="button" class="btn btn-secondary">運営からのメッセージ</button>-->
      <!--    <%# end %>-->
      <!--  </div>-->
      <!--</div>-->
    </div>

  </div>
</div>
