<div class="container">
  <!--user登録情報の編集フォーム-->
  <%= form_with model: @activity, url: activity_path(@activity), method: :patch, local: true do |f| %>
    <div class="row">
      <%= render 'layouts/error_messages', model: f.object %>
    </div>
    <div class="row mt-4">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-12">
            <h2><%= f.text_field :name, placeholder: "サークル名" %></h2>
            <h4 class="mb-0"><%= f.label :act_image, "サークル画像の選択" %></h4>
            <p>※Activity表示用の画像として表示されます。</p>
            <%= f.attachment_field :act_image %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h4 class="mb-0"><%= f.label :to_create, "作るもの" %></h4>
            <%= f.text_field :to_create %>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-sm-12">
            <h4 class="mb-0"><%= f.label :to_study, "勉強すること" %></h4>
            <%= f.text_field :to_study %>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-sm-12">
            <h4 class="mb-0"><%= f.label :to_do, "次回日程" %></h4>
            <%= f.text_field :to_do, placeholder: "XX年XX月XX日 XX時～　オンラインにて活動します" %>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row mt-5">
          <div class="col-sm-12">
            <h4><%= f.label :to_do, "メンバー申請" %></h4>
            <% unless @pre_members.nil? %> <!--@pre_memberに値があるときのみ-->
              <!--メンバー申請を出している人のリストを表示-->
              <% @pre_members.each do |pre| %>
                <table>
                  <tr>
                    <td><%= pre.member_status %></td>
                    <td><%= pre.user.name %></td>
                    <td>
                      <%= link_to group_path(pre, group_sort: :accept), method: :patch do %>
                        <button type="button" class="btn btn-danger">承認する</button>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to group_path(@activity.id), method: :delete do %>
                        <button type="button" class="btn btn-danger">承認しない</button>
                      <% end %>
                    </td>
                  </tr>
                </table>
              <% end %>
                <p>承認待ちのメンバーはいません</p>
            <% end %>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-sm-12 flex-wrap">
            <h4>リーダー</h4>
            <% if @leaders == nil || @leaders.count == 0%>
              <p>現在リーダーはいません。</p>
            <% else %>
              <p class="mb-1">現在のリーダー：</p>
              <span class="ml-2">
                <% @leaders.each do |leader| %>
                  <%= leader.user.name %>
                <% end %>
              </span>
            <% end %>
            <p class="mt-2">リーダーにチェックを入れてください ↓</p>
            <p> <!--member_statusをリーダーにしたいuserにチェックを入れるためのcheck_box-->
              <% @users.each do |user| %>
                <%= f.check_box :leader, {multiple: true}, user.id, nil %>
                <%= user.name %>
              <% end %>
            </p>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-sm-12">
            <h4>卒業申請</h4>
            <table>
              <tr>
                <td>名前</td>
                <td>作品数</td>
                <td>卒業申請</td>
              </tr>
              <% @pre_graduates.each do |pre_graduate| %>
                <tr>
                  <td><%= pre_graduate.user.name %></td>
                  <td><%= pre_graduate.activity.works.where(user_id: pre_graduate.user.id).count %></td>  <!--activityに紐づくworksの中から、userのものだけ抽出する-->
                  <td><%= link_to "卒業する", group_path(pre_graduate, group_sort: :senior), method: :patch, class: 'btn-sm btn btn-danger' %></td>
                  <td><%= link_to "卒業申請取消", group_path(pre_graduate, group_sort: :no_graduate), method: :patch, class: 'btn-sm btn btn-info' %></td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <%= f.submit "更新する", class: "btn-sm btn btn-dark mt-4 mb-4 mr-2" %>
      <%= link_to activity_path(@activity) do %>
          <button type="button" class="btn-sm btn btn-secondary mt-4 mb-4 ml-2">サークルページに戻る</button>
      <% end %>

    </div>
  <% end %>
</div>
