<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <div class="row">
        <div class="col-sm-8 ml-4 mt-4">
          <h2>サークル一覧</h2>
        </div>
      </div>

      <% if @activities.count == 0 %>
        <div class="row">
          <div class="col-sm-11 pl-5 ml-5 mt-3 mb-5">
            <p>サークルはありません</p>
          </div>
        </div>
      <!--サークル一覧を表示w-->
      <% else %>
        <div class="row justify-content-center">
          <div class="col-sm-12">
            <table class="table table-hover table-inverse">
              <thead>
                <tr class="table-dark">
                  <th></th>
                  <th>サークル名</th>
                  <th>メンバー数</th>
                  <th colspan="2"></th>
                </tr>
              </thead>
              <tbody>
                <% @activities.each do |activity| %>
                <tr>
                  <td class="align-middle">
                  <%= link_to activity_path(activity) do %>
                    <%= attachment_image_tag activity, :act_image, format: 'jpeg', fallback: "no-image.jpg", size: '50x50' %>
                  <% end %>
                </td>
                  <td class="align-middle"><%= link_to activity.name, activity_path(activity) %></td>
                  <td class="align-middle"><%= activity.groups.count %>人</td>
                  <td class="align-middle">
                    <%= link_to works_modify_path(activity_id: activity.id) do %>
                      <button type="button" class="btn btn-dark">作品一覧</button>
                    <% end %>
                  </td>
                  <td class="align-middle">
                    <%= link_to activity_path(activity.id), method: :delete do %>
                      <button type="button" class="btn btn-danger">削除</button>
                    <% end %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p><%= paginate @activities_paginate %></p>
          </div>
        </div>
      <% end %>
    </div>
    <!--<div class="col-sm-12">-->
    <!--  <div class="row">-->
    <!--    <div class="col-sm-12 text-center mb-4">-->
    <!--      <%#= link_to new_activity_path do %>-->
    <!--        <button type="button" class="btn-lg btn btn-outline-danger">サークル新規作成</button>-->
    <!--      <%# end %>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</div>-->

  </div>
</div>
