<div class="container">
  <!--user登録情報の入力フォーム-->
  <%= form_with model: @activity, url: activities_path, local: true do |f| %>
    <div class="row">
      <%= render 'layouts/error_messages', model: f.object %>
    </div>
    <div class="row">
      <div class="col-sm-8 mt-4">
        <h2><%= f.text_field :name, placeholder: "サークル名" %></h2>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-sm-6">
        <h2><%= f.label :to_create, "作るもの" %></h2>
        <%= f.text_field :to_create %>
        <h2 class="mt-4"><%= f.label :to_study, "勉強すること" %></h2>
        <%= f.text_field :to_study %>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-sm-6">
        <h4 class="mb-0"><%= f.label :act_image, "サークル画像の選択" %></h4>
        <%#= attachment_image_tag @activity, :act_image, fallback: "no-image.jpg", id: "img_preview", style: "height: 200px; width:300px;" %><br>
        <%= f.attachment_field :act_image %>

        <!--画面プレビュー用 jsの記述を直書き。これだとエラーメッセージも非同期化する必要がない-->
        <script>
        $(document).on("turbolinks:load", function(){
          function readURL(input) {
            if(input.files && input.files[0]){
              var reader = new FileReader();
              reader.onload = function (e) {
                $('#img_preview').attr('src', e.target.result);
              }
              reader.readAsDataURL(input.files[0]);
            }
          }
          $("#activity_act_image").change(function(){
            readURL(this);
          });
        });
        </script>

        <p>※Activity表示用の画像として表示されます。</p>

      </div>
    </div>
    <div class="row mt-4">
      <div class="col-sm-8">
        <h2><%= f.label :to_do, "次回日程" %></h2>
        <%= f.text_field :to_do, placeholder: "XX年XX月XX日 XX時～　xxxにて活動します" %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center mt-4 mb-4">
        <%= f.submit "create！", :class=>"btn-lg btn btn-outline-danger" %>
      </div>
    </div>
  <% end %>
</div>
