<div class="container">
  <div class="row">

    <div class="col-sm-7 mt-4">
      <div class="row">
        <h2 class="ml-3"><%= @activity.name %> 新着作品</h2>
        <div class="col-sm-12 text-center">
          <% @activity.works.order(created_at: :desc).limit(2).each do |work| %>
            <table>
              <tr><td colspan="2"><%= attachment_image_tag work, :work_image, format: 'jpeg', size: "300x200" %></td></tr>
              <tr>
                <td><%= work.title %></td>
                <td id="favorite-<%= work.id %>">
                  <% if user_signed_in? %>
                    <%= render 'favorites/favorite', work: work %></td>
                  <% end %>
              </tr>
              <tr><td colspan="2"><%= User.find(work.creator1).name %></td></tr>
            </table>
          <% end %>
        </div>
        <div class="col-sm-12 text-center mt-2 mb-2">
          <!--現在のユーザーと@activityが紐づくgroupsレコードが存在する時-->
          <% if user_signed_in? && current_user.groups.where(activity_id: @activity.id).present? && current_user.groups.where.not(activity_id: @activity.id, member_status: "承認待ち").present? %>
            <%= link_to new_work_path(activity_id: @activity) do %>
              <button type="button" class="btn btn-info">作品を投稿する</button>
            <% end %>
          <% else %>
            <%= link_to works_path(activity_id: @activity.id, work_sort: 2) do %>
              <button type="button" class="btn btn-dark">もっとみる</button>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 mt-3">
          <h2><%= @activity.name %> メンバー</h2>
        </div>
        <div class="col-sm-12 text-center">
          <% if user_signed_in? %>
            <% unless current_user.groups.where(activity_id: @activity.id).present? %> <!--現在のユーザーと@activityが紐づくgroupsレコードが存在しない時-->
              <%= link_to groups_path(activity_id: @activity), method: :post do %>
                <button type="button" class="btn btn-info">メンバーになる！</button>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="col-sm-12">
          <% if @pre_members.count > 0 %>
            <p class="text-danger">メンバー申請中：<%= @pre_members.count %>名</p>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <!--メンバーステータスごとに表示-->
          <h4>■申請中</h4>
          <% @pre_members.each do |pre| %>
            <table>
              <tr>
                <td><%= pre.user.name %></td>
                <td>
                  <% if @group_user.present? && @group_user.member_status != "承認待ち" %> <!--groupに属するユーザー(承認待ちでない)に表示-->
                    <%= link_to group_path(pre, group_sort: :accept), method: :patch do %>
                      <button type="button" class="btn btn-info">メンバー承認</button>
                    <% end %>
                    <%= link_to group_path(pre), method: :delete do %>
                      <button type="button" class="btn btn-danger">承認しない</button>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            </table>
          <% end %>
          <h4 class="mt-3">■リーダー</h4>
          <% @leaders.each do |leader| %>
            <div class="row">
              <div class="col-sm-12 pl-5">
                <%= leader.user.name %>
              </div>
            </div>
          <% end %>
          <h4 class="mt-3">■メンバー</h4>
          <% if @pre_graduate != nil %>
            <p class="text-danger">卒業承認待ち：<%= @pre_graduates.count %>名</p>
          <% end %>
          <% @juniors.each do |junior| %>
            <div class="row">
              <div class="col-sm-12 pl-5">
                <%= junior.user.name %>
              </div>
            </div>
          <% end %>
          <h4 class="mt-3">■シニア</h4>
          <% @seniors.each do |senior| %>
            <div class="row">
              <div class="col-sm-12 pl-5">
                <%= senior.user.name %>
              </div>
            </div>
          <% end %>
        </div>
      </div>

    </div>
    <div class="col-sm-5 mt-4">
      <!--ここから右側のエリア-->
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-12 text-right">
              <!--現在のユーザーと@activityが紐づくgroupsレコードが存在する時-->
              <!--my_this_activity_group = current_user.groups.where(activity_id: @activity.id)-->
              <%# if user_signed_in? && my_this_activity_group.present? && my_this_activity_group.where.not(member_status: "承認待ち").present? %>
              <% if user_signed_in? && current_user.groups.where(activity_id: @activity.id).present? && current_user.groups.where.not(activity_id: @activity.id, member_status: "承認待ち").present? %>
                <%= link_to edit_activity_path(@activity) do %>
                  <button type="button" class="btn btn-outline-secondary">ページを編集する</button>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-sm-12">
              <h2><%= @activity.name %> 次回日程</h2>
              <p><%= @activity.to_do %></p>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-12 mt-4 mb-3">
              <h2>新着コメント</h2>
            </div>
          </div>
          <% if @comments.nil? %>
            <div class="row">
              <div class="col-sm-12">
                <p>コメントはありません</p>
              </div>
            </div>
          <% else %>
            <% @comments.each do |comment| %>
              <div class="row">
                <div class="col-sm-12">
                  <p><%= comment.sentence %></p>
                </div>
                <div class="col-sm-12 border-bottom">
                  <p><%= comment.user.name %> <%= comment.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
                </div>
              </div>
            <% end %>
          <% end %>
          <!--コメント一覧ページへのリンク-->
          <div class="row mt-4 mb-4">
            <div class="col-sm-12 text-center">
              <%= link_to comments_path(activity_id: @activity) do %>
                <button type="button" class="btn btn-dark">コメント</button>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
