<div class="container">
  <div class="row">
    <div class="col-sm-7">

        <div class="row">
          <div class="col-sm-12">
            <% if current_user.groups.where(activity_id: @activity.id).exists? %>
              <%= link_to edit_activity_path(@activity) do %>
                <button type="button" class="btn btn-secondary">ページを編集する</button>
              <% end %>
            <% end %>
            <h2><%= @activity.name %> 次回日程</h2>
            <p><%= @activity.to_do %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h2><%= @activity.name %> 新着作品</h2>
            <!--現在のユーザーと@activityが紐づくgroupsレコードが存在する時-->
            <% if current_user.groups.where(activity_id: @activity.id).exists? %>
              <%= link_to new_work_path(activity_id: @activity) do %>
                <button type="button" class="btn btn-info">作品を投稿する</button>
              <% end %>
            <% end %>
            <%= link_to works_path(activity_id: @activity.id, order_sort: 4) do %>
              <button type="button" class="btn btn-info">もっとみる</button>
            <% end %>
          </div>
          <div class="col-sm-12">
            <% @works.each do |work| %>
              <table>
                <tr><%= attachment_image_tag work, :image, format: 'jpeg', fallback: "no_image.jpg", size: "400x250" %></tr>
                <tr>
                  <td><%= work.title %></td>
                  <td id="favorite-<%= work.id %>"><%= render 'favorites/favorite', work: work %></td>
                </tr>
                <tr><%= work.creators1 %></tr>
              </table>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <h2><%= @activity.name %> メンバー</h2>
            <% unless current_user.groups.where(activity_id: @activity.id).exists? %> <!--現在のユーザーと@activityが紐づくgroupsレコードが存在しない時-->
              <%= link_to groups_path(activity_id: @activity), method: :post do %>
                <button type="button" class="btn btn-info">メンバーになる！</button>
              <% end %>
            <% end %>
            <br>
            <% if @pre_members.count > 0 %>
              <p class="text-danger">申請中：<%= @pre_members.count %>名</p>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <!--メンバーステータスごとに表示-->
            <h4>申請中</h4>
            <% @pre_members.each do |pre| %>
              <table>
                <tr>
                  <td><%= pre.user.name %></td>
                  <td>
                    <%= link_to group_path(pre, order_sort: 1), method: :patch do %>
                      <button type="button" class="btn btn-info">メンバー承認</button>
                    <% end %>
                    <%= link_to group_path(pre), method: :delete do %>
                      <button type="button" class="btn btn-danger">承認しない</button>
                    <% end %>
                  </td>
                </tr>
              </table>
            <% end %>
            <h4>リーダー</h4>
            <% @leaders.each do |leader| %>
              <%= leader.user.name %>
            <% end %>
            <h4>メンバー</h4>
            <% @juniors.each do |junior| %>
              <%= junior.user.name %>
            <% end %>
            <h4>シニア</h4>
            <% @seniors.each do |senior| %>
              <%= senior.user.name %>
            <% end %>
          </div>
        </div>

    </div>
    <div class="col-sm-5">
      <div class="row">
        <div class="col-sm-12">
          <h2>新着コメント</h2>
        </div>
      </div>
      <% if @comments.nil? %>
        <div class="row">
          <div class="col-sm-12">
            <p>コメントはありません</p>
          </div>
        </div>
      <% else %>
        <% @comments.each do |comment| %>
          <div class="row">
            <div class="col-sm-12">
              <p><%= comment.sentence %></p>
            </div>
            <div class="col-sm-12 border-bottom">
              <p><%= comment.user.name %> <%= comment.created_at %></p>
            </div>
          </div>
        <% end %>
      <% end %>
      <!--コメント一覧ページへのリンク-->
      <div class="row">
        <div class="col-sm-12">
          <%= link_to comments_path(activity_id: @activity) do %>
            <button type="button" class="btn btn-info">コメントする</button>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
